  body{
    background: black;
  }

img{
  height: 600px;
  width: 100%;
}

.navbar-brand  {
  font-weight: 100;
  font-size: 2.0em !important;
}

/* .fa-soundcloud{
  font-size: 35px;
} */


/* Small devices (phones, tablets less than 48em) */
@media (max-width: 47.9em) {
  img{
    height: 280px;
    width: 100%;
  }
}

/* // Medium devices (tablets, small laptops less than 62em) */
@media (min-width: 61.9em) {
  img{
    height: 600px;
    width: 100%;
  }
 }

.shows{
  color: grey;
  position: relative;
  top: 190px;
  font-weight: 300;
}

#events{
  padding-top: 15%;
}

footer {
  color: white;
  position: relative;
  top: 40px;
  padding:20px;
}

a:link {color: rgb(255, 255, 255);} 
a:visited {color: rgb(255, 255, 255);} 
a:hover {color: rgb(255, 255, 255) !important;} 
a:active {color: rgb(255, 255, 255);} 
a {text-decoration: none !important;}