body{
    background: black;
  }

img{
  height: 600px;
  width: 100%;
}


.music, .contact {
  font-size: 1.2rem;
  font-weight: 100;
}

.navbar-brand  {
  font-weight: 100;
  font-size: 2.2em !important;
}


/* Small devices (phones, tablets less than 48em) */
@media (max-width: 47.9em) {
  img{
    height: 280px;
    width: 100%;
  }
}

/* // Medium devices (tablets, small laptops less than 62em) */
@media (min-width: 61.9em) {
  img{
    height: 600px;
    width: 100%;
  }
 }


#events{
  padding-top: 15%;
}


footer {
  color: white;
  position: relative;
  top: 40px;
  padding:20px;
}



a:link {color: rgb(255, 255, 255);} 
a:visited {color: rgb(255, 255, 255);} 
a:hover {color: rgb(255, 255, 255) !important;} 
a:active {color: rgb(255, 255, 255);} 
a {text-decoration: none !important;}


.navbar-custom {
  background-color: black;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
  background-color: white;
}
.navbar-custom .dropdown-item {
  color: white;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #333333;
  background-color: white;
}

.spotify {
  padding-top: 5%;
  text-align: center;
}

/* Small devices (phones, tablets less than 48em) */
@media (max-width: 47.9em) {
  .spotify{
    height: 280px;
    width: 20;
  }
}

/* .bandcamp-music{
  padding-top: 7%;
} */

/* iframe{
  position:relative;
  left: 18.5%;
} */

/* hr.style-one {
    border: 0;
    height: 1px;
    width: 63.0%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
} */






/* Small devices (phones, tablets less than 48em) */
@media (max-width: 47.9em) {
  iframe{
    position: relative;
    left: 0.5%;
  }
  hr.style-one{
    border: 0;
    height: 1px;
    width: 100%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
  }
}


@media (max-width: 61.9em) {
  iframe{
    position: relative;
    left: 0.5%;
  }
  hr.style-one{
    border: 0;
    height: 1px;
    width: 100%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
  }
 }

 #us {
  text-align: center;
  color:#fff;
  font-size: 50px;
  font-weight: 100;
  padding-top: 100px;
}