  body{
    background: black;
  }



  
  .contact {
    font-weight: 100;
    font-size: 45px;
    color: white;
    letter-spacing: 5px;
    text-align-last: right;
    position: relative;
    bottom: 62px;
  }


  .band-name {
  padding-top: 20px;
  font-weight: 100;
  font-size: 45px;
  color: white;
  letter-spacing: 5px;
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) and (max-width: 767px) { .contact, .band-name{
  font-size: 30px;
  padding-top: 20px;
  }
 }



img{
  height: 600px;
  width: 100%;
}

/* Small devices (phones, tablets less than 48em) */
@media (max-width: 47.9em) {
  img{
    height: 280px;
    width: 100%;
  }
}

/* // Medium devices (tablets, small laptops less than 62em) */
@media (min-width: 61.9em) {
  img{
    height: 600px;
    width: 100%;
  }
 }

.shows{
  color: grey;
  position: relative;
  top: 190px;
  font-weight: 300;
}

#events{
  padding-top: 15%;
}


footer {
  color: white;
  position: relative;
  top: 100px;
  padding:20px;
}